/* Fiori 2: Logo size */
.sapUshellShellHeadItm {
	width: auto;
	height: auto;
}
.sapUshellShellHeadItm .userImgSpan {
	width: auto;
	height: auto;
}

/* Fiori 2: Title size */
.sapUshellShellHeadSubtitle {
	max-width: none !important;
}

/* Fiori 3: Logo size */
.sapUshellShellHeadItmCntnt {
	width: auto;
	height: auto;
}

/* Logo without rounded corners */
.sapUshellShellHeadItm>span>img {
	border-radius: 0%;
	width: auto;
	height: auto;
}